<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<div>
    <form action="/" method="post">
        <label>Username: </label><br>
        <input type="email" name="username" placeholder="write your username"><br><br>
        <label>Password: </label><br>
        <input type="password" name="password" placeholder="write your username"><br><br>
        <input type="submit" value="LOGIN">
    </form>
</div>
<div>
    <form action="/">
        <label>New here?</label>
        <input value="Register" type="submit">
    </form>
</div>
</body>
</html>